#box{
    color:gold;
    background-color:blue;
    
}

.heading{
    color:red;

}
/* h1,h2,h3{
    color:rgb(255, 0, 0);
    text-decoration: black underline;
} */
/* button{
    color:green;
} */
.text{
    h1{
        text-decoration: red dotted underline;
        text-align: center;
        color:rgb(2, 1, 2);
        background-color:aqua;
    }
    p{ 
        text-align: center;
       background-color:lightgrey;
    }
    
}
a{
    text-decoration: none;
}
    #h1{
        font-weight: 100;
    }
    #h2{
        font-weight: 300;
    }
    #h3{
        font-weight: bolder;
    }
    #h4{
        font-weight: 900;
    }
    #one{
        font-family:Roboto;
    }
    #two{
        font-family: segoe UI;
        font-size: 30px;
    }
#three{
    font-family: cursive;
    font-size:20px ;
    line-height: 40px;
    text-transform: capitalize;
}
#four{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial;
    line-height: 30px;
color:rgb(255, 57, 57);
background-color: aqua;


}